SECRET_KEY=buraya_guclu_secret_key_yaz
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=buraya_generate_password_hash_ciktisi_yaz

FLASK_DEBUG=False
APP_ENV=production
SESSION_COOKIE_SECURE=True
ALLOW_INIT_DB=False

# PostgreSQL kullanacaksan Render/hosting panelinden ekle:
# DATABASE_URL=postgresql://...
